<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
	<title>Commute configuration</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/pebble-slate/dist/css/slate.min.css') }}">
</head>
<body>
	<input type="hidden" id="submit_to" value="{{ url_for('put_user', token_account=prefill.token_account) }}">
	<input type="hidden" id="return_to" value="{{ prefill.return_to }}">
	<input type="hidden" id="token_account" value="{{ prefill.token_account }}">
	<input type="hidden" id="token_timeline" value="{{ prefill.token_timeline }}">

	<div class="item-container">
		<div class="button-container">
			<input type="button" class="item-button save" value="SAVE">
		</div>
	</div>
	
	<div class="item-container">
		<div class="item-container-header">Your addresses</div>
		<div class="item-container-content">
			<div class="item">
				<div class="item-input-wrapper">
					<input type="text" class="item-input" id="address_home" placeholder="Home address" value="{{ prefill.address_home }}">
				</div>
			</div>
			<div class="item">
				<div class="item-input-wrapper">
					<input type="text" class="item-input" id="address_work" placeholder="Work address" value="{{ prefill.address_work }}">
				</div>
			</div>
		</div>
		<div class="item-container-footer">
			We'll store your addresses in the cloud, but only to provide you with traffic information. We don't store other personal information like your name or e-mail address.
		</div>
	</div>
	
	<div class="item-container">
		<div class="item-container-header">Route options</div>
		<div class="item-container-content">
			<label class="item">
				Avoid toll roads
				<input type="checkbox" class="item-checkbox" id="route_avoid_tolls" {% if prefill.route_avoid_tolls %} checked {% endif %}>
			</label>
			<label class="item">
				Avoid highways
				<input type="checkbox" class="item-checkbox" id="route_avoid_highways" {% if prefill.route_avoid_highways %} checked {% endif %}>
			</label>
			<label class="item">
				Avoid ferries
				<input type="checkbox" class="item-checkbox" id="route_avoid_ferries" {% if prefill.route_avoid_ferries %} checked {% endif %}>
			</label>
		</div>
	</div>

	<div class="item-container">
		<div class="item-container-header">Commute on your timeline</div>
		<div class="item-container-content">
			{% if prefill.tester %}
			<div class="item">
				<strong>Awesome, you're in the closed beta!</strong> You've been randomly selected for a beta test of Commute's Pebble timeline integration. Hope you like it! You can send any feedback to <a href="mailto:dries@nexworx.com">dries@nexworx.com</a>.
			</div>
			<label class="item item-subtitle-wrapper">
				Get traffic on Pebble timeline
				<div class="item-subtitle">Receive pins and reminders from Commute</div>
				<input type="checkbox" class="item-toggle" id="timeline_enabled" {% if prefill.timeline_enabled %} checked {% endif %}>
			</label>
			{% else %}
			<div class="item">
				<strong>Coming soon:</strong> have your watch tell you when to leave for work! We'll soon push traffic info straight to your Pebble's timeline.
			</div>
			{% endif %}
			<label class="item">
				Arrive at work by
				<input type="time" class="item-time" id="timeline_work_arrival" value="{{ prefill.timeline_work_arrival }}">
			</label>
			<label class="item">
				Leave work at
				<input type="time" class="item-time" id="timeline_work_departure" value="{{ prefill.timeline_work_departure }}">
			</label>
			{% if prefill.tester %}
			<div class="item">
				<strong>Quick note:</strong> when you first enable this or update your settings later, we first have to collect some data about traffic conditions around your commute time. This means you won't get a timeline pin for your first drive from home to work.
			</div>
			{% endif %}
		</div>
		<div class="item-container-footer">
			Traffic info is always an estimate! Always allow time for unforeseen circumstances on the road.
		</div>
		<div class="item-container-footer">
			The developer of this application cannot be held responsible for any consequences related to your use of this app and the information it provides.
		</div>
	</div>

	<div class="item-container">
		<div class="button-container">
			<input type="button" class="item-button save" value="SAVE">
		</div>
	</div>
		
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/pebble-slate/dist/js/slate.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/config.min.js') }}"></script>
</body>
</html>
